<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Integrated Data Management</h3>
                    <p class="text-muted">Over the last decade, design teams have encountered increased competition due to globalization (requiring the
                        best available engineers irrespective of location), an exponential increase in design complexity, and shrinking
                        market windows. This results in teams of engineers with different skill sets (for example analog, digital, MEMS, and
                        RF), spread across multiple sites, managing complex flows, and sharing a large volume of constantly changing data.
                        Unstructured design files with multiple copies and versions, along with associated verification results, cannot
                        remain unmanaged if a design team wants to avoid mistakes and tape out successfully while meeting schedules.
                        In order to be efficient and to avoid mistakes, design teams need quick answers when something is wrong in the
                        design or verification cycle of a project. Some of the questions they need to answer are:
                        • Why is simulation failing today when it was perfect yesterday?
                        • Do we have all the correct versions of the files for system simulation?
                        • Do we have knowledge of all the design changes made this week before we build a design for testing today?
                        • Are we all working from the very latest version of the requirements?
                        • What happened to all the design work that the testbench team completed last week?
                        Efficient collaboration is becoming an essential ingredient to meeting tight IC design schedules. In analog and
                        mixed-signal (AMS) design, collaboration has many facets. Design tools are usually specific to roles and handoffs are
                        numerous, especially when moving a design to a foundry. This often poses a challenge for companies hoping to
                        keep design teams synchronized while ensuring that time-to-market windows are met.</p>
                </div>
            </div>
        </div>
    </div>
</section>
