<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Business Growth</h3>
                    <p class="text-muted">Categorizing the problems and growth patterns of small businesses in a systematic way that is useful to entrepreneurs seems at first glance a hopeless task. Small businesses vary widely in size and capacity for growth. They are characterized by independence of action, differing organizational structures, and varied management styles.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Sustainability</h3>
                    <p class="text-muted">Sustainability is one the newest degree subjects that attempts to bridge social science with civic engineering and environmental science with the technology of the future. When we hear the word “sustainability” we tend to think of renewable fuel sources, reducing carbon emissions, protecting environments and a way of keeping the delicate ecosystems of our planet in balance.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Performance</h3>
                    <p class="text-muted">Improving the value of services is all about understanding what the business is trying to accomplish and express it in business terms everyone can understand. It's not about the technology of the service, but the value the service provides the business.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Organization</h3>
                    <p class="text-muted">This is a defining moment for IT. As business objectives increasingly depend on new digital capabilities – and as companies increasingly push these digital objectives front and center – enterprise IT organizations are finding themselves more and more often in direct competition with external service providers.</p>
                </div>
            </div>
        </div>
    </div>
</section>
